      Text
      <a href="#TestModal" class="btn">Button</a>
      <div id="TestModal" class="modal">
        <div class="modal-container">
          <a href="#" class="btn">Close</a>
        </div>
      </div>
