        <ul id="Articles">
        </ul>
        <div id="TestModal" class="modal">
          <div class="container">
            <div class="close">
              <a href="#" data-role="modal" class="btn">X</a>
            </div>
            Hello
          </div>
        </div>
