<!DOCTYPE html>
<html>
<head>
  <title>Byooo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="header">
  <div class="container">
    <div class="float-left">
      <h1>Logo</h1>
    </div>
    <div class="float-right">
      User 
    </div>
  </div>
</div>
<div class="page">
  <div class="container">
<%= yield %>  </div>
</div>
<div class="footer">
  Footer
</div>

</body>
</html>
