<!DOCTYPE html>
<html>
<head>
  <title>Byooo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="layout">
  <div class="header">
    <div class="container">
      <div class="float-left">
        <a href="/">
          <h1>Fuq.com</h1>
        </a>
      </div>
      <input type="text" name="search">
      <div class="float-right">
        <a href="#Login" data-role="modal">Login</a> / 
        <a href="#SignUp" data-role="modal">Sign Up</a>
      </div>
    </div>
  </div>
  <div class="page">
    <div class="container">
<%= yield %>  </div>
  </div>
  <div class="footer">
    Footer
  </div>
</div>

<div id="Login" class="modal">
  <div class="container" style="width: 200px;">
    <div class="close">
      <a href="#" data-role="modal" class="btn">X</a>
    </div>
    <h1>Login</h1>
    <input type="text" name="id"><br>
    <input type="password" name="pw"><br>
    <a href="#" class="btn">Login</a>
  </div>
</div>
<div id="SignUp" class="modal">
  <div class="container" style="width: 200px;">
    <div class="close">
      <a href="#" data-role="modal" class="btn">X</a>
    </div>
    <h1>Sign Up</h1>
    <input type="text" name="id"><br>
    <input type="password" name="pw"><br>
    <input type="password" name="pw"><br>
    <input type="text" name="name"><br>
    <a href="#" class="btn">Sign Up</a>
  </div>
</div>

</body>
</html>
